body{
    font-family: SF Pro Text;
}

img{
    max-width: 100%;
    height: auto;
    display:block;
}

a:hover{
    text-decoration:none;
}

ul{
    margin-bottom: 0;
    padding-left: 0;
}

li{
    list-style:none;
}

